[data-solid-text-size='xs'] {
  font-size: 0.75rem;
  line-height: calc(1 / 0.75);
}
[data-solid-text-size='sm'] {
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
}
[data-solid-text-size='base'] {
  font-size: 1rem;
  line-height: 1.5;
}
[data-solid-text-size='lg'] {
  font-size: 1.125rem;
  line-height: calc(1.75 / 1.125);
}
[data-solid-text-size='xl'] {
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
}
[data-solid-text-size='2xl'] {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
}

[data-solid-text-font='sans'] {
  font-family:
    system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}
[data-solid-text-font='serif'] {
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}
[data-solid-text-font='mono'] {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

[data-solid-text-weight='thin'] {
  font-weight: 100;
}
[data-solid-text-weight='extralight'] {
  font-weight: 200;
}
[data-solid-text-weight='light'] {
  font-weight: 300;
}
[data-solid-text-weight='normal'] {
  font-weight: 400;
}
[data-solid-text-weight='medium'] {
  font-weight: 500;
}
[data-solid-text-weight='semibold'] {
  font-weight: 600;
}
[data-solid-text-weight='bold'] {
  font-weight: 700;
}
[data-solid-text-weight='extrabold'] {
  font-weight: 800;
}
[data-solid-text-weight='black'] {
  font-weight: 900;
}

[data-solid-text-wrap='wrap'] {
  white-space: wrap;
}
[data-solid-text-wrap='nowrap'] {
  white-space: nowrap;
}
